*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: block;
  font-family: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0 14px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo-link {
  position: relative;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #111;
}

.navigation__logo-icon {
  fill: transparent;
  stroke: #fd9222;
  margin-left: 4px;
  position: absolute;
}

.nav__list {
  display: none;
}

.nav__social {
  display: none;
}

.navigation__button {
  background-color: transparent;
  border: none;
  display: flex;
}

.navigation__icon-button {
  fill: transparent;
  stroke: #111;
  height: 16px;
}

.modal-mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #1e1823;
  top: 0;
  left: 0;
  padding: 136px 20px 20px;
  z-index: 900;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.modal-mobile.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-mobile__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  width: 21px;
  height: 21px;
  background-color: transparent;
}

.moda-mobile__icon-close {
  fill: transparent;
  stroke: #fff;
  transition: stroke 0.3s;
}

.modal-mobile__btn:hover .moda-mobile__icon-close,
.modal-mobile__btn:focus .moda-mobile__icon-close {
  stroke: #fd9222;
}

.modal-mobile__nav {
  width: 124px;
  margin: 0 auto;
}

.modal-mobile__item:not(:last-child) {
  margin-bottom: 24px;
}

.modal-mobile__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 0.3s;
}

.modal-mobile__link:hover {
  color: #fd9222;
}

.modal-mobile__social {
  margin-top: auto;
  width: 84px;
  height: 20px;
  transition: stroke 0.3s;
}

.modal-mobile__soc-icon {
  fill: transparent;
  stroke: #fff;
}

.modal-mobile__soc-icon:hover {
  stroke: #fd9222;
}

.main-screen {
  margin-bottom: 80px;
}

.main-screen__wrapper {
  background-image: url("../images/chocolate_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 395px 20px 20px 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .main-screen__wrapper {
    background-image: url("../images/chocolate_main-2x.jpg");
  }
}

.main-screen__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  width: 290px;
}

.main-screen__button-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px 14px;
}

.buy-now {
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.buy-now:hover,
.buy-now:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made {
  border: 1px solid #fff;
  outline: none;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 159px;
  height: 41px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: border-color 0.3s, color 0.3s;
}

.how-made:hover,
.how-made:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.main-screen__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #fff;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.3s;
}

.main-screen__span-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s, fill 0.3s;
  fill: #fd9222;
}

.main-screen__button:hover,
.main-screen__button:focus {
  color: #fd9222;
}

.main-screen__button:hover .main-screen__span-inner,
.main-screen__button:focus .main-screen__span-inner {
  background-color: #fd9222;
  fill: #fff;
}

.info {
  background: #1e1823;
  padding: 20px 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.info__item {
  margin-bottom: 20px;
  width: 308px;
  position: relative;
}

.info__item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
  width: 0px;
  display: none;
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%) scaleX(0.5);
}

.info__box-icon {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fd9222;
}

.info__title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.info__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.content {
  padding-top: 80px;
}

.power-title {
  text-align: center;
  margin: 0 auto 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  width: 283px;
}

.power-title-span {
  color: #fd9222;
}

.content__item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 335px;
  height: 270px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.content__item:not(:last-child) {
  margin-bottom: 20px;
}

.content__item-inner {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 32px 28px 28px 28px;
  cursor: pointer;
}

.content__image {
  width: 236px;
  height: 176px;
  margin-bottom: 16px;
}

.content__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  align-self: flex-start;
}

.list-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fd9222;
  border-radius: 50%;
  fill: transparent;
  stroke: #fd9222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
}

.content__item-popup {
  width: 100%;
  height: 100%;
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s;
  border: 1px solid #fff;
}

.content__item-orange {
  background-color: #fd9222;
}

.content__item-orange .content__subtitle {
  color: #fff;
}

.content__item-orange .list-button {
  stroke: #fafafa;
  border: 1px solid#fafafa;
}

.content__item-black {
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.content__item-black .content__subtitle {
  color: #fff;
}

.content__item-black .list-button {
  stroke: #fafafa;
  border: 1px solid#fafafa;
}

.content__item:hover .content__item-popup,
.content__item:focus .content__item-popup {
  transform: translateY(0%);
}

.content__title-popup {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.content__button-inner {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.button-popup {
  border-radius: 35px;
  border: 1px solid #fd9222;
  padding: 6px 16px;
  min-width: 81px;
  height: 24px;
  background-color: #fd9222;
  outline: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  text-transform: lowercase;
}

.button-popup:hover,
.button-popup:focus {
  background-color: #fff;
  color: #111;
}

.content__popup-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  max-height: 146px;
  overflow: hidden;
}

.made {
  padding: 80px 0 40px;
}

.made_image {
  margin-bottom: 20px;
}

.made__text {
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

.made__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 20px;
}

.made__item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 16px;
}

.made__item:not(:last-child) {
  margin-bottom: 18px;
}

.made__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

.products {
  padding: 40px 0 40px;
}

.products .power-title {
  margin-bottom: 22px;
}

.products__item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 364px;
  padding: 32px 52px;
  background-color: #fff;
}

.products__item:not(:last-child) {
  margin-bottom: 0;
}

.products__image {
  width: 230px;
  height: 201px;
  margin-bottom: 8px;
}

.products__price-inner {
  text-align: center;
}

.product__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.product__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.product__price {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 18px;
  width: 94px;
  height: 33px;
  background-color: #fafafa;
  margin: 0 auto;
}

.seller {
  padding: 40px 0 40px;
}

.seller__item {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 536px;
  background: #fff;
  padding-bottom: 24px;
}

.seller__item:not(:last-child) {
  margin-bottom: 22px;
}

.seller__image-inner {
  position: relative;
  margin-bottom: 24px;
  border-radius: 15px 15px 0 0;
  height: 464px;
  width: 100%;
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.seller__image-inner-first {
  background-image: url("../images/nuts.jpg");
}

.seller__image-inner-second {
  background-image: url("../images/choc-fruits.jpg");
}

.seller__image-inner-third {
  background-image: url("../images/dark-choc.jpg");
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .seller__image-inner-first {
    background-image: url("../images/nuts-2x.jpg");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .seller__image-inner-second {
    background-image: url("../images/choc-fruits-2x.jpg");
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .seller__image-inner-third {
    background-image: url("../images/dark-choc-2x.jpg");
  }
}

.seller__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(5px);
  padding: 187px 20px;
}

.seller__item:hover .seller__text {
  opacity: 1;
}

.seller__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

.portfolio {
  padding: 40px 0 80px;
}

.portfolio .power-title {
  margin-bottom: 74px;
}

.portfolio__list {
  margin-bottom: 32px;
}

.portfolio__item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 56px 18px 42px;
  position: relative;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 50px;
}

.portfolio__image {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, 75%);
}

.portfolio__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  width: 299px;
}

.portfolio__btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 165px;
  height: 41px;
  background-color: transparent;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #111;
  transition: background-color 0.3s, color 0.3s;
}

.portfolio__btn:hover {
  color: #fff;
  background-color: #fd9222;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: relative;
  border-radius: 15px;
  width: 311px;
  height: 622px;
  background-color: #fafafa;
  padding: 32px 24px;
}

.modal .power-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  width: 255px;
  height: 48px;
  margin: 0 0 32px;
  text-align: left;
}

.modal__btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal__icon-btn {
  fill: transparent;
  stroke: #111;
  transition: stroke 0.3s;
}

.modal__btn:hover .modal__icon-btn {
  stroke: #fd9222;
}

.modal__label {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  background-color: transparent;
  margin-bottom: 4px;
}

.modal__input-box {
  height: 45px;
  margin-bottom: 14px;
  position: relative;
}

.modal__input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 15px 43px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: none;
  transition: border-color 0.3s;
}

.modal__input:focus {
  border: 1.5px solid #fd9222;
}

.modal__textarea {
  display: block;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 14px 18px;
  outline: none;
  width: 100%;
  height: 91px;
  resize: none;
  margin-bottom: 18px;
  transition: border-color 0.3s;
}

.modal__textarea:focus {
  border: 1.5px solid #fd9222;
}

.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal__input-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: stroke 0.3s;
}

.modal__input:focus + .modal__input-icon {
  stroke: #fd9222;
}

.modal__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.modal__checkbox {
  display: none;
}

.modal__checkbox-link {
  text-decoration: underline;
  color: #fd9222;
}

.cutom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: block;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s;
}

.checkbox-vector {
  fill: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__checkbox:checked + .modal__checkbox-label .cutom-checkbox {
  background-color: #fd9222;
  border: none;
}

.modal__checkbox:checked + .modal__checkbox-label .checkbox-vector {
  opacity: 1;
}

.modal__button {
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 93px;
  height: 41px;
  background-color: #fd9222;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}

.modal__button:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.footer {
  padding: 32px 0 32px;
  background-color: #1e1823;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__wrapper {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.footer__title {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 32px;
}

.footer__title-span {
  color: #fd9222;
}

.footer__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
  font-style: normal;
  text-align: left;
  margin-bottom: 32px;
}

.footer__address-link {
  transition: color 0.3s;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer__address-item:first-child {
  margin-bottom: 14px;
}

.footer__address-link:hover {
  color: #fd9222;
}

.footer__social {
  width: 112px;
}

.footer__social-p {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}

.footer__social-link:not(:last-child) {
  margin-right: 12px;
}

.footer__social-icon {
  fill: transparent;
  stroke: #fff;
  transition: stroke 0.3s;
}

.footer__social-link:hover .footer__social-icon {
  stroke: #fd9222;
}

.footer__navigation {
  margin-bottom: 32px;
}

.footer__nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer__nav-link {
  transition: color 0.3s;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer__nav-link:hover {
  color: #fd9222;
}

.footer__form {
  display: flex;
  gap: 8px;
}

.footer__input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 207px;
  height: 45px;
  color: #fff;
  background-color: transparent;
  outline: none;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer__form-btn {
  border-radius: 100px;
  padding: 14px 26px;
  min-width: 120px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.footer__form-btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }

  .header {
    padding: 24px 0 35px;
  }

  .navigation {
    justify-content: center;
  }

  .navigation__logo-link {
    margin-right: 108px;
  }

  .navigation__button {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-right: 48px;
  }

  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #111;
    transition: color 0.3s;
    padding: 25px 0 36px;
  }

  .nav__link:hover {
    color: #fd9222;
  }

  .nav__social {
    display: flex;
    gap: 12px;
  }

  .nav__soc-icon {
    fill: transparent;
    stroke: #111;
    transition: stroke 0.3s;
  }

  .nav__soc-icon:hover {
    stroke: #fd9222;
  }

  .main-screen__wrapper {
    background-image: url("../images/chocolate_main-tab.jpg");
    padding: 671px 40px 40px 40px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-screen__wrapper {
      background-image: url("../images/chocolate_main-tab-2x.jpg");
    }
  }

  .main-screen__title {
    font-size: 28px;
    line-height: 1.21429;
    width: 484px;
  }

  .main-screen__button-inner {
    justify-content: flex-start;
    gap: 14px;
  }

  .main-screen__button {
    margin-left: auto;
    font-size: 14px;
    line-height: 1.28571;
  }

  .main-screen__span-inner {
    width: 38px;
    height: 38px;
  }

  .main-screen__icon {
    width: 14px;
    height: 14px;
  }

  .info {
    padding: 50px 0 50px;
  }

  .power-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.6;
    width: 411px;
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 44px 88px;
  }

  .info__item {
    margin: 0;
  }

  .content {
    padding-top: 100px;
  }

  .content__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .content__item:not(:last-child) {
    margin: 0;
  }

  .made {
    padding: 100px 0 50px;
  }

  .made_image {
    margin-bottom: 20px;
    width: 614px;
    height: 400px;
  }

  .made .container {
    padding: 0 61px 0;
  }

  .made__text {
    padding: 32px;
  }

  .made__subtitle {
    margin-bottom: 28px;
    width: 350px;
  }

  .made__item {
    width: 464px;
  }

  .products {
    padding: 50px 0 50px;
  }

  .products .power-title {
    margin-bottom: 50px;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .seller {
    padding: 50px 0 50px;
  }

  .seller__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .seller__item {
    width: 344px;
    height: 544px;
    padding-bottom: 28px;
  }

  .seller__item:not(:last-child) {
    margin-bottom: 0;
  }

  .seller__image-inner {
    margin-bottom: 28px;
  }

  .portfolio {
    padding: 50px 0 100px;
  }

  .portfolio .power-title {
    margin-bottom: 91px;
  }

  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
  }

  .portfolio__item {
    padding: 56px 16px 42px;
    width: 344px;
  }

  .portfolio__text {
    width: 312px;
  }

  .portfolio__btn {
    padding: 14px 40px;
    min-width: 222px;
    height: 50px;
    font-size: 18px;
  }

  .footer {
    padding: 50px 0 50px;
  }

  .footer__wrapper {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .footer__title {
    order: 1;
    font-size: 28px;
    line-height: 1.21429;
    margin-right: 96px;
    margin-bottom: 0;
  }

  .footer__address {
    order: 3;
    margin-bottom: 0;
  }

  .footer__social {
    order: 2;
    margin-right: 32px;
    width: 114px;
  }

  .footer__nav-form-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer__navigation {
    margin: 0;
  }

  .footer__nav-list {
    display: flex;
    gap: 16px;
  }

  .footer__nav-item-none {
    display: none;
  }

  .footer__nav-item:not(:last-child) {
    margin: none;
  }

  .modal {
    width: 517px;
    height: 794px;
    padding: 40px;
  }

  .modal .power-title {
    font-size: 24px;
    line-height: 1.16667;
    margin: 0 0 40px;
    width: 298px;
  }

  .modal__btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .modal__icon-btn {
    width: 16px;
    height: 16px;
  }

  .modal__label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .modal__input-box {
    height: 68px;
    margin-bottom: 18px;
  }

  .modal__input {
    padding: 22px 62px;
  }

  .modal__input-icon {
    width: 24px;
    height: 24px;
  }

  .modal__textarea {
    height: 137px;
    padding: 22px 24px;
  }

  .modal__textarea::placeholder {
    font-size: 18px;
  }

  .modal__checkbox-label {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 41px;
    font-size: 14px;
  }

  .modal__button {
    min-width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }

  .header {
    padding: 24px 0 32px;
  }

  .navigation__logo-link {
    font-size: 18px;
    line-height: 1.11111;
    margin-right: 441px;
  }

  .navigation__logo-icon {
    width: 24px;
    height: 24px;
  }

  .nav__link {
    padding: 24px 0 32px;
  }

  .nav__list {
    margin-right: 90px;
  }

  .nav__social {
    gap: 14px;
  }

  .nav__soc-icon {
    width: 24px;
    height: 24px;
  }

  .navigation {
    justify-content: space-between;
  }

  .main-screen__wrapper {
    background-image: url("../images/chocolate_main-desktop.jpg");
    padding: 381px 40px 40px 40px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .main-screen__wrapper {
      background-image: url("../images/chocolate_main-desktop-2x.jpg");
    }
  }

  .buy-now {
    padding: 14px 40px;
    height: 45px;
  }

  .how-made {
    padding: 14px 40px;
    height: 45px;
  }

  .main-screen__button {
    gap: 14px;
  }

  .info .container {
    padding: 0 33px;
  }

  .info__list {
    gap: 88px;
  }

  .info__item:not(:last-child)::after {
    display: block;
  }

  .content {
    padding-top: 120px;
  }

  .content__item {
    width: 260px;
    height: 270px;
  }

  .content__image {
    width: 214px;
    height: 160px;
    margin-bottom: 36px;
  }

  .content__item-inner {
    padding: 28px 23px 28px 28px;
  }

  .content__item-popup {
    padding: 20px 15px 24px 15px;
  }

  .made {
    padding: 120px 0 60px;
  }

  .made .container {
    padding: 0 16px 0;
  }

  .made__wrapper {
    display: flex;
    gap: 20px;
  }

  .made_image {
    margin-bottom: 0;
    width: 600px;
    height: 400px;
  }

  .made__subtitle {
    margin-bottom: 28px;
  }

  .made__text {
    padding: 32px;
    width: 516px;
    height: 400px;
  }

  .made__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .products {
    padding: 60px 0 60px;
  }

  .products__list {
    gap: 18px;
  }

  .products__item {
    width: 270px;
    height: 364px;
    padding: 32px 20px;
  }

  .seller {
    padding: 60px 0 60px;
  }

  .seller__item {
    width: 368px;
    height: 544px;
  }

  .portfolio {
    padding: 60px 0 120px;
  }

  .portfolio__list {
    gap: 28px;
  }

  .portfolio__item {
    padding: 56px 24px 24px;
    width: 360px;
  }

  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio__text {
    width: 312px;
  }

  .footer__title {
    margin-right: 510px;
  }

  .footer__social {
    margin-right: 50px;
  }

  .footer__social-link:not(:last-child) {
    margin-right: 14px;
  }

  .footer__social-icon {
    width: 24px;
    height: 24px;
  }

  .footer__wrapper {
    margin-bottom: 24px;
  }

  .footer__nav-list {
    gap: 24px;
  }

  .footer__input {
    width: 313px;
    height: 52px;
    padding: 14px 24px;
  }

  .footer__input::placeholder {
    font-size: 18px;
  }

  .footer__form-btn {
    min-width: 137px;
    height: 52px;
    padding: 17px 32px;
  }
}
